<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>About-Users Managment</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

	<link rel="stylesheet" th:href="@{/abt.css}" />

	<link rel="shortcut icon" href="https://img.icons8.com/ios/50/000000/monitor--v2.png" type="image/x-icon">
</head>

<body>
	<div class="wholeBlock">
		<div class="headerBlock">
			<h1 class="display-1 hel">Hello</h1>
		</div>
		<div class="contentBlock">
			<p>This is a simple Web Application designed and developed using <b>Spring Boot, PostgreSQL, HTML 5,
					CSS 3, Thymeleaf and Bootstrap</b>.This application demonstrates a simple <b>CRUD</b> operation in
				which
				a
				user can
				create, read, update and delete the data from the database.</p>
		</div>
		<div class="devBlock">
			<p>Developed by : <i><b>Praveen Kumar MS</b></i></p>
		</div>
		<div class="fotterBlock insta"><a style="text-decoration:none;" target="blank"
				href="https://www.instagram.com/the_sea_beast/">Follow me on &nbsp <i class="fab fa-instagram"></i></a>
		</div>
	</div>
</body>

</html>